.mainContent{
    width: 80%;
    min-height: 200vh;
    position: relative;
    .circleIcon{
        width: 100px;
        height: 100px;
        position: fixed;
        top: 40px;
        right: 40px;
        z-index: -5;
    }
    header {
        .heroText{
            min-height: 60vh;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 120px;
            h2{
                font-family: 'DM Serif Display', serif;
                text-transform: capitalize;
                font-style: italic;
                font-size: 2rem;
                margin: 0;
            }
            h1 {
                @include basicHeadingFont(5rem, #f12365);
            }
            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 0;
            }

        }
        div{
            img {
                width: 50%;
                height: 40vh;
                object-fit: cover;
            }
        }
    }
    .about {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        p {
            font-size: .9rem;
            line-height: 30px;

        }
        .aboutText{
            padding: 30px;
            width: 60%;
            margin: 0 auto;
            .aboutMain{
                min-height: 35vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    @include basicHeadingFont(4rem, #f12365);
                    span {
                        color: white;
                    }
                }
                border-bottom: 2px solid black;

            }
            .aboutSubContent{
                // margin-top: 40px;
                padding: 30px 0;
                div {
                    flex-wrap: wrap;
                    justify-content: space-between
                }
                h3 {
                    @include basicHeadingFont(2.1rem, #f12365);
                    span {
                        color:white;
                    }
                }
                p {
                    // width: 45%;
                    span {
                        img {
                            width: 10px;
                            text-align: center;
                            margin: 0 10px;
                        }
                        color:#cfcfcf;
                    }
                }
            }
        }
        aside{
            width: 35%;
            padding: 50px;
            background: rgba(0, 0, 0, 0.432);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h3 {
                @include basicHeadingFont(3rem, #f12365);
                span {
                    color:white;
                }
            }
            h4 {
                @include basicHeadingFont(1.6rem, white);
                span {
                    color:white;
                }
            }
            i {
                font-size: 3rem;
                color: #f12365;
                margin: 5px;
            }
            img {
                width: 50px;
                text-align: center;
                align-self: center;
                margin: 5px;
            }
            div {
                margin-left: 20px;
            }
            .iconsArr{
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

            }
        }
    }
    .portfolio {
        color: white;
        // padding: 30px;
        .portfolioTxt{
            padding: 30px;
            width: 100%;
            margin-left: 0 auto;
            h2{
                @include basicHeadingFont(4rem, #f12365);
                span {
                    color: white;
                }
            }
        }
        .portfolios{
            .col1{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            .projectCntr{
                position: relative;
                .imgTop{
                    background: #f12364a2;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    opacity: 0;
                    transition: .5s;
                }
            }
            .projectCntr:hover .imgTop {
                opacity: 1;
            }
            .imgSettings{
                height: 100%;
                object-fit: cover;
            }
            .projectImgsSun{
                height: 50vh;
            }
            .focusImg{
                height: 50vh;
                object-fit: cover;
            }
            .projectImgStitches{
                height: 30vh;
            }
            .flexRow {
                height: 30vh;
            }
            .halfWidthImg{
                width: 50%;
            }
            .abonPharmaImg, .shophieImg{
                height: 40vh;
            }

        }
    }
}
