.mainContent{
    width: 80%;
    min-height: 200vh;
    position: relative;
    .circleIcon{
        width: 100px;
        height: 100px;
        position: fixed;
        top: 40px;
        right: 40px;
        z-index: -5;
    }
    header {
        .heroText{
            min-height: 60vh;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 120px;
            h2{
                font-family: 'DM Serif Display', serif;
                text-transform: capitalize;
                font-style: italic;
                font-size: 2rem;
                margin: 0;
            }
            h1 {
                @include basicHeadingFont(5rem, #f12365);
            }
            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 0;
            }

        }
        div{
            img {
                width: 50%;
                height: 40vh;
                object-fit: cover;
            }
        }
    }
    .about {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        p {
            font-size: .9rem;
            line-height: 30px;

        }
        .aboutText{
            padding: 50px;
            width: 60%;
            margin: 0 auto;
            .aboutMain{
                width: 90%;
                margin: 0 auto;
                min-height: 35vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    @include basicHeadingFont(4rem, #f12365);
                    span {
                        color: white;
                    }
                }
                p {
                    font-size: 1.2rem;
                    line-height: 40px;

                }
                // border-bottom: 2px solid black;

            }
            .aboutSubContent{
                // margin-top: 40px;
                padding: 30px 0;
                div {
                    flex-wrap: wrap;
                    justify-content: space-between
                }
                h3 {
                    @include basicHeadingFont(2.1rem, #f12365);
                    span {
                        color:white;
                    }
                }
                p {
                    // width: 45%;
                    span {
                        img {
                            width: 10px;
                            text-align: center;
                            margin: 0 10px;
                        }
                        color:#cfcfcf;
                    }
                }
            }
        }
        aside{
            width: 35%;
            padding: 50px;
            background: rgba(0, 0, 0, 0.432);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h3 {
                @include basicHeadingFont(3rem, #f12365);
                span {
                    color:white;
                }
            }
            h4 {
                @include basicHeadingFont(1.2rem, #8b8b8b);
                span {
                    color:#8b8b8b;
                }
            }
            i {
                font-size: 2.5rem;
                color: #f12365;
                margin: 5px;
                margin-left: 0px;
            }
            img {
                width: 40px;
                text-align: center;
                align-self: center;
                margin: 5px;
                margin-left: 0px;
            }
            div {
                margin-left: 10px;
            }
            .iconsArr{
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

            }
        }
    }
    .portfolio {
        color: white;
        // padding: 30px;
        .portfolioTxt{
            padding: 30px;
            width: 100%;
            margin-left: 0 auto;
            h2{
                @include basicHeadingFont(4rem, #f12365);
                span {
                    color: white;
                }
            }
        }
        .portfolios{
            .col1{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            .projectCntr{
                cursor: default;
                position: relative;
                .mainStack{
                    position: absolute;
                    top: 0;
                    right: 20px;
                    z-index: 10;
                    transition: .5s;
                    .flexRow {
                        justify-content: space-between;
                    }
                    .square {
                        background: #f12365;
                        padding: 20px 10px;
                        color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .triangleLeft{
                        // background: #f12365;
                        width: 0; 
                        height: 0; 
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent; 
                        border-left:25px solid #f12365; 
                        margin-top: -20px;
                    }
                    .triangleRight{
                        // background: #f12365;
                        margin-top: -20px;
                        width: 0; 
                        height: 0; 
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent; 
                        border-right:25px solid #f12365; 
                    }
                    i {
                        font-size: 2rem;
                        color: white;
                    }
                }
                .imgTop{
                    background-image: linear-gradient(45deg,#992a4dda , #e483a2a9);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    transition: .5s;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .content{
                        // padding: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        text-align: center;
                        img {
                            width: 60px;
                            height: 60px;
                            margin: 10px auto;
                            cursor: pointer;
                            padding: 10px;
                        }
                        img:hover {
                            background: rgba(255, 255, 255, 0.301);
                        }
                    }
                    .btnCntr{
                        width: 100%;
                        button {
                            width: 50%;
                            border:none;
                            padding: 20px;
                            margin: 0 auto;
                            text-transform: uppercase;
                            color: #f12365;
                            cursor: pointer;
                            transition: .4s;
                            // border: 1px solid #f12365;
                        }
                        button:focus, button:hover {
                            background-color: #f12365;
                            color: white
                        }
                    }
                    h3{
                        @include basicHeadingFont(1.7rem, #ffffff);

                    }
                }
                .opacity{
                    opacity: 0;
                }
            }
            .projectCntr:hover .opacity, .projectCntr:focus .opacity{
                opacity: 1;
            }
            .projectCntr:hover .mainStack{
                // padding-top: 40px;
                // top: -20px;
                transform: scale(1.2);
            }
            .imgSettings{
                height: 100%;
                object-fit: cover;
            }
            .projectImgsSun{
                height: 45vh;
            }
            .focusImg{
                height: 50vh;
                object-fit: cover;
            }
            .projectImgStitches{
                height: 35vh;
            }
            .upperImages {
                height: 30vh;
            }
            .halfWidthImg{
                width: 50%;
            }
            .shophieImg{
                height: 40vh;
            }
            .movieManixImg{
                height: 55vh;
            }
            .gameOfThrns{
                height: 25vh;
            }

        }
    }
    .portfolioDetail {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        .detailWindow{
            position: fixed;
            top: 0;
            z-index: 20;
            background-image: url('../assets/blackStripedBackgrounLighter.jpg');
            .projectText{
                padding: 30px;
                width: 70%;
                margin: 0 auto;
                height: 100vh;
                overflow-y: hidden;
                .flexRow {
                    justify-content: start;
                    img {
                        width: 40px;
                        text-align: right;
                    }
                }
                .projectMain{
                    min-height: 10vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h3{
                        @include basicHeadingFont(2.8rem, #f12365);
                        span {
                            color: white;
                        }
                    }
                    border-bottom: 2px solid black;
                }
                .projectSubContent{
                    padding-top: 40px;
                    .projectLink {
                        @include basicHeadingFont(2.6rem, #f12365);
                        transition: .4s;
                        // padding-top: 40px;
                    }
                    .projectLink:hover {
                        color: white;
                    }
                    p {
                        color: white;
                        font-size: 1.2rem;
                        line-height: 50px;
                    }

                    .imageArray img {
                        width: 100px;
                    }
                    .flexRow{
                        justify-content: space-between;
                        .linksAndStacks{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            h5{
                                @include basicHeadingFont(1.5rem, white);
                            }
                            .stackArray{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                i {
                                    font-size: 1.7rem;
                                    color: #f12365;
                                    margin: 10px 10px;
                                }
                                img {
                                    width: 30px;
                                    margin: 10px 10px;
                                }
                            }
                        }
                        .projectCollabImg{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            p {
                                margin: 0;
                            }
                            img {
                                width: 55px;
                                height: 55px;
                                border-radius: 50%;
                                margin: 10px;
                            }
                            .collabCntr{
                                // border: 1px solid rebeccapurple;
                                display: block;
                                position: relative;
                                background: transparent;
                                border: none;
                                cursor: pointer;
                                .collabWindwo{
                                    min-width: 150px;
                                    height: 50px;
                                    border-radius: 10px;
                                    position: absolute;
                                    right: 70px;
                                    top: 0;
                                    border: 1px solid #f12365;
                                    color: #ffffff;
                                    text-align: center;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    opacity: 0;
                                    transition: .5s;
                                    background: #f12365;
                                }
                            }
                            .collabCntr:hover .collabWindwo, .collabCntr:focus .collabWindwo{
                                opacity: 1;             
                            }
                        }
                    }
 
                }
                
            }
            .projectText:hover {
                overflow-y: auto;
                scrollbar-color: #f123646e #00000036;
                border-radius: 5px;
                scrollbar-width: 5px;

            }
            .projectText::-webkit-scrollbar {
                width: 10px;
            }
            
            .projectText::-webkit-scrollbar-thumb:vertical {
                height: 30px;
                background-color: #f123646e;
                border-radius: 5px;
            }
        }
        aside{
            width: 30%;
            margin: auto;
            background: rgba(0, 0, 0, 0.432);
            height: 100vh;
            h4 {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                @include basicHeadingFont(1.5rem, #f12365);

            }
            .projectImgs2{

                display: grid;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // align-items: flex-start;
                justify-content: flex-start;
                align-content: flex-start;
                
            }
            
            img {
                // display: in;
                width: 35%;
                height: 150px;
                object-fit: cover;
                margin: 20px auto;
                cursor: pointer;
                filter: grayscale(100%);
                border: 3px solid #f12365;
            }
            img:hover {
                filter: grayscale(0%);
                box-shadow: 0px 0px 20px #f12365;
            }
        }

        }
    }

