.mainContent{
    width: 80%;
    min-height: 200vh;
    position: relative;
    .circleIcon{
        width: 100px;
        height: 100px;
        position: fixed;
        top: 40px;
        right: 40px;
        z-index: -5;
    }
    header {
        .heroText{
            min-height: 60vh;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 120px;
            h2{
                font-family: 'DM Serif Display', serif;
                text-transform: capitalize;
                font-style: italic;
                font-size: 2rem;
                margin: 0;
            }
            h1 {
                @include basicHeadingFont(5rem, #f12365);
            }
            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 0;
            }

        }
        div{
            img {
                width: 50%;
                height: 40vh;
                object-fit: cover;
            }
        }
    }
    .about {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        p {
            font-size: .9rem;
            line-height: 30px;

        }
        .aboutText{
            padding: 30px;
            width: 60%;
            margin: 0 auto;
            .aboutMain{
                min-height: 35vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    @include basicHeadingFont(4rem, #f12365);
                    span {
                        color: white;
                    }
                }
                border-bottom: 2px solid black;

            }
            .aboutSubContent{
                // margin-top: 40px;
                padding: 30px 0;
                div {
                    flex-wrap: wrap;
                    justify-content: space-between
                }
                h3 {
                    @include basicHeadingFont(2.1rem, #f12365);
                    span {
                        color:white;
                    }
                }
                p {
                    // width: 45%;
                    span {
                        img {
                            width: 10px;
                            text-align: center;
                            margin: 0 10px;
                        }
                        color:#cfcfcf;
                    }
                }
            }
        }
        aside{
            width: 35%;
            padding: 50px;
            background: rgba(0, 0, 0, 0.432);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h3 {
                @include basicHeadingFont(3rem, #f12365);
                span {
                    color:white;
                }
            }
            h4 {
                @include basicHeadingFont(1.6rem, white);
                span {
                    color:white;
                }
            }
            i {
                font-size: 3rem;
                color: #f12365;
                margin: 5px;
            }
            img {
                width: 50px;
                text-align: center;
                align-self: center;
                margin: 5px;
            }
            div {
                margin-left: 20px;
            }
            .iconsArr{
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

            }
        }
    }
    .portfolio {
        color: white;
        // padding: 30px;
        .portfolioTxt{
            padding: 30px;
            width: 100%;
            margin-left: 0 auto;
            h2{
                @include basicHeadingFont(4rem, #f12365);
                span {
                    color: white;
                }
            }
        }
        .portfolios{
            .col1{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            .projectCntr{
                position: relative;
                .imgTop{
                    background-image: linear-gradient(45deg,#f12364da , #e483a2a9);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    opacity: 0;
                    transition: .5s;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .content{
                        padding: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        text-align: center;
                        img {
                            width: 60px;
                            height: 60px;
                            margin: 10px auto;
                            cursor: pointer;
                            padding: 10px;
                        }
                        img:hover {
                            background: rgba(255, 255, 255, 0.301);
                        }
                    }
                    .btnCntr{
                        width: 100%;
                        button {
                            width: 50%;
                            border:none;
                            padding: 20px;
                            text-transform: uppercase;
                            color: #f12365;
                            cursor: pointer;
                            transition: .4s;
                        }
                        button:focus, button:hover {
                            background-color: #f12365;
                            color: white
                        }
                    }

                    h3{
                        @include basicHeadingFont(1.7rem, #ffffff);

                    }
                }
            }
            .projectCntr:hover .imgTop {
                opacity: 1;
            }
            .imgSettings{
                height: 100%;
                object-fit: cover;
            }
            .projectImgsSun{
                height: 50vh;
            }
            .focusImg{
                height: 50vh;
                object-fit: cover;
            }
            .projectImgStitches{
                height: 30vh;
            }
            .upperImages {
                height: 30vh;
            }
            .halfWidthImg{
                width: 50%;
            }
            .abonPharmaImg, .shophieImg{
                height: 40vh;
            }

        }
    }
    .portfolioDetail {
        position: relative;
        .detailWindow{
            position: fixed;
            top: 0;
            z-index: 20;
            background-image: url('../assets/blackStripedBackgroun.png');
            .projectText{
                padding: 30px;
                width: 60%;
                margin: 0 auto;
                height: 100vh;
                // overflow: auto;
                // overflow-y: hidden;
                overflow-y: hidden;

                .flexRow {
                    justify-content: end;
                    img {
                        width: 50px;
                        text-align: right;
                    }
                }
                .projectMain{
                    min-height: 20vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h3{
                        @include basicHeadingFont(2.8rem, #f12365);
                        span {
                            color: white;
                        }
                    }
                    border-bottom: 2px solid black;
                }
                .projectSubContent{
                    h4 {
                        @include basicHeadingFont(2rem, #f12365);
                        span {
                            color:white;
                        }
                    }
                    p {
                        color: white;
                        font-size: .9rem;
                        line-height: 30px;
                    }
                }
                
            }
            .projectText:hover {
                overflow-y: scroll;
                scrollbar-color: #f123646e #00000036;
                border-radius: 5px;
                scrollbar-width: 5px;
                scrollbar-gutter: blue;

            }
            .projectText::-webkit-scrollbar {
                width: 10px;
            }
            
            .projectText::-webkit-scrollbar-thumb:vertical {
                height: 30px;
                background-color: #f123646e;
                border-radius: 5px;
            }

        }
        aside{
            width: 35%;
            padding: 50px;
            background: rgba(0, 0, 0, 0.432);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;}
        }
    }

