.modal {
    background: #161616e0;
    position: fixed;
    margin: 0 auto;
    z-index: 200;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .modalCntr{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgFocused{
        // width: 100%;
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        color: $accentColor;
        .fixedImgwidth {
            width: 60%;
            margin: 0 auto;
            img {
                height: 70vh;
                // margin: 0 auto;

                object-fit: contain;
            } 
            
        }
        i {
            width: 20%;
            margin: 0 auto;
            font-size: 3rem;
            padding: 20px;
            cursor: pointer;
            text-align: center;
        }
    }
    .allImages {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        align-items: center;
        img{
            min-width: 150px;
            height: 100px;
            object-fit: cover;
            margin: 10px;
            cursor: pointer;
        }
        .spcl {
            border: 4px solid $accentColor;
            box-shadow: 0px 0px 20px $accentColor;

        }
    }
    .clostBtn{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        i {
            color: white;
            font-size: 2rem;
            margin: 20px;
            cursor: pointer;
        }
    }
}
@media (max-width: 850px){
    .modal{
        .imgFocused{
            width: 95%;
            .fixedImgwidth {
                width: 80%;
                }
            i {
                width: 10%;
                margin: 0 auto;
                font-size: 3rem;
                padding: 20px;
                cursor: pointer;
                text-align: center;
            }
        }
    }
}

@media (max-width: 650px){
    .modal{
        z-index: 200;
        .allImages {
            display: flex;
            flex-direction: row;
            img{
                min-width: auto;
                height: 95px;
                margin: 10px 3px;
            }
        }
    }

}
