.sideWidthBig{
    width: 45%;
    transition:2s;
}
.sideWidthSmll{
    width: 18%;
    transition:2s;
}
.sideBar{
    transition: .5;
    div {
        position: sticky;
        top: 0;
        .biggerHeight{
            height: 70vh;
        }
        .smallerHeight{
            height: 40vh;
        }
        .profileImg{
            transition: .5;
            background: $accentColor;
            display: flex;
            flex-direction: column;
            justify-content: end;
            img {
                object-fit: contain;
                
            }
        }

        .sidebarFooter{
            height: 30vh;
            padding: 20px; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            background: rgba(0, 0, 0, 0.377);
            .menuCntr{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
            }
            .menus{
                // border: 1px solid red;
                margin: 0 auto;
                li {
                    button {
                        background: none;
                        border: none;
                        color: rgb(199, 199, 199);
                        padding: 30px;
                        font-size: 1.5rem;
                        transition: .5s;
                        text-align: center;
                        cursor: pointer;
                    }
                    button:hover, a:focus {
                        color: $accentColor;
                    }
                }
                .active{
                    color: $accentColor;
                    font-size: 2rem;
                }
            }
            .socialLinks{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                font-size: 1.6rem;
                a {
                    color: white;
                    transition: .3s;
                }
                a:hover, a:focus {
                    color: $accentColor;
                }
            }
            p{
                font-size: .8rem;
                color: $accentColor;
                a {
                    color: white;
                }
                a:hover{
                    color: $accentColor;
                }
            }
        }
    }
}