$accentColor: #f12365;

@mixin basicHeadingFont($customFontSize, $customFontcolor ){
    color: $customFontcolor;                    
    // font-family: 'DM Serif Display', serif;
    font-family: 'Philosopher', sans-serif;

    text-transform: capitalize;
    font-size: $customFontSize;
    margin: 10px 0;
}
@import 'modal'; 
@import 'normalize';
@import 'sideBar';
@import 'generalStyle';

html {
    // background: rgb(29, 29, 29);
    background-image: url('../assets/blackStripedBackgroun.png');
}


body {
    background-image: url('../assets/blackStripedBackgroun.png');
    background-image: url('../assets/blackStripedBackgrounLighter.jpg');
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: -10;
}
img {
    width: 100%;
}
ul {
    padding: 0;
    li {
        list-style: none;
    }
}
a {
    text-decoration: none;
}
section {
    min-height: 100vh;
}
.flexRow{
    display: flex;
    flex-direction: row;
    
}
.gridRow {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.hide {
    display: none;
}
.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}
.buttons {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    
    a, button {
        cursor: pointer;
        border-style: none;
        color: $accentColor;
        background: white;
        padding: 10px 25px;
        border-radius: 50px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: .9rem;
        letter-spacing: 2px;
        margin-right: 20px;
        transition: .5s;
        margin-bottom: 10px;
    }
    a:hover, a:focus, button:hover, button:focus{
        color: white;
        background: $accentColor;
    }
}
.buttons2 {
    margin: 20px 0;
    a, button {
        cursor: pointer;
        border-style: none;
        color: white;
        background: transparent;
        border: 2px solid #ffffff;
        padding: 10px 25px;
        border-radius: 50px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: .9rem;
        letter-spacing: 2px;
        margin-right: 20px;
        transition: .5s;
    }
    a:hover, a:focus, button:hover, button:focus{
        color: black;
        background: $accentColor;
        border: 2px solid $accentColor;

    }
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
/* width */
.cursorPntr{
    cursor: pointer;
}
.positionRelative{
    position: relative;
}
.hvrCntr{
    // border: 1px solid rebeccapurple;
    display: block;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    .hvrWndo{
        display: none;
        // min-width: 150px;
        // height: 50px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 60px;
        border: 1px solid $accentColor;
        color: #ffffff;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: .5s;
        background: $accentColor;
        z-index: 20;
        min-height: 0;
        min-width: 0px;
        overflow: auto;
    }
}

.menuBtn{
    position: fixed;
    padding: 20px;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
    z-index: 200;
    cursor: pointer;
    .hamBrgr{
        width: 35px;
        height: 3px;
        background: white;
        border-radius: 5px;
        transition: .5s ease all;
    }
    .hamBrgr::before, .hamBrgr::after {
        content: '';
        width: 30px;
        height: 3px;
        position: absolute;
        background: #ffffff91;
        border-radius: 5px;
        transition: .5s ease all;
    }
    .hamBrgr::before{
        transform: translateY(-12px);
    }
    .hamBrgr::after{
        transform: translateY(12px);
    }
}
.menuBtn:hover .hamBrgr {
    width: 40px;
}
.menuBtn:hover .hamBrgr::before{
    width: 20px;
}
.menuBtn:hover .hamBrgr::after{
    width: 45px;
}
.responsive{
    display: none;
    text-align: center;
    margin: 0 auto;
}
.notResponsive{
    display: block;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 900px){

    .gridRow{
        grid-template-columns: 1fr 1fr 1fr;

    }
     }

@media (max-width: 850px){
    .buttons {
        margin: 35px 0;
        }
    .gridRow {
        grid-template-columns: 1fr 1fr;
        }

    .hvrCntr:hover .hvrWndo, .hvrCntr:focus .hvrWndo{
        opacity: 1;   
        min-height: 50px;
        min-width: 150px;
    
    }
    .responsive{
        display: block;
    }
    .notResponsive{
        display: none;
    }
        
}