html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sideWidthBig {
  width: 40%;
  -webkit-transition: 2s;
  transition: 2s;
}

.sideWidthSmll {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.sideBar {
  -webkit-transition: 0.5;
  transition: 0.5;
}
.sideBar div {
  position: sticky;
  top: 0;
}
.sideBar div .profileImg {
  background: #f12365;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.sideBar div .sidebarFooter {
  height: 30vh;
  padding: 20px;
}
.sideBar div .sidebarFooter .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.6rem;
}
.sideBar div .sidebarFooter .socialLinks a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sideBar div .sidebarFooter .socialLinks a:hover, .sideBar div .sidebarFooter .socialLinks a:focus {
  color: #f12365;
}

.mainContent {
  width: 80%;
  min-height: 200vh;
  position: relative;
}
.mainContent .circleIcon {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: -5;
}
.mainContent header .heroText {
  min-height: 60vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 120px;
}
.mainContent header .heroText h2 {
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
}
.mainContent header .heroText h1 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 5rem;
  margin: 10px 0;
}
.mainContent header .heroText h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0;
}
.mainContent header div img {
  width: 50%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .about {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainContent .about p {
  font-size: 0.9rem;
  line-height: 30px;
}
.mainContent .about .aboutText {
  padding: 30px;
  width: 60%;
  margin: 0 auto;
}
.mainContent .about .aboutText .aboutMain {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid black;
}
.mainContent .about .aboutText .aboutMain h2 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 4rem;
  margin: 10px 0;
}
.mainContent .about .aboutText .aboutMain h2 span {
  color: white;
}
.mainContent .about .aboutText .aboutSubContent {
  padding: 30px 0;
}
.mainContent .about .aboutText .aboutSubContent div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainContent .about .aboutText .aboutSubContent h3 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 2.1rem;
  margin: 10px 0;
}
.mainContent .about .aboutText .aboutSubContent h3 span {
  color: white;
}
.mainContent .about .aboutText .aboutSubContent p span {
  color: #cfcfcf;
}
.mainContent .about .aboutText .aboutSubContent p span img {
  width: 10px;
  text-align: center;
  margin: 0 10px;
}
.mainContent .about aside {
  width: 35%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.432);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mainContent .about aside h3 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 3rem;
  margin: 10px 0;
}
.mainContent .about aside h3 span {
  color: white;
}
.mainContent .about aside h4 {
  color: white;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  margin: 10px 0;
}
.mainContent .about aside h4 span {
  color: white;
}
.mainContent .about aside i {
  font-size: 3rem;
  color: #f12365;
  margin: 5px;
}
.mainContent .about aside img {
  width: 50px;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5px;
}
.mainContent .about aside div {
  margin-left: 20px;
}
.mainContent .about aside .iconsArr {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .portfolio {
  color: white;
}
.mainContent .portfolio .portfolioTxt {
  padding: 30px;
  width: 100%;
  margin-left: 0 auto;
}
.mainContent .portfolio .portfolioTxt h2 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 4rem;
  margin: 10px 0;
}
.mainContent .portfolio .portfolioTxt h2 span {
  color: white;
}
.mainContent .portfolio .portfolios .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mainContent .portfolio .portfolios .projectCntr {
  position: relative;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop {
  background-image: linear-gradient(45deg, #f12364da, #e483a2a9);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .content {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .content img {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  cursor: pointer;
  padding: 10px;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .content img:hover {
  background: rgba(255, 255, 255, 0.301);
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr {
  width: 100%;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr button {
  width: 50%;
  border: none;
  padding: 20px;
  text-transform: uppercase;
  color: #f12365;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr button:focus, .mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr button:hover {
  background-color: #f12365;
  color: white;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop h3 {
  color: #ffffff;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 1.7rem;
  margin: 10px 0;
}
.mainContent .portfolio .portfolios .projectCntr:hover .imgTop {
  opacity: 1;
}
.mainContent .portfolio .portfolios .imgSettings {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .portfolio .portfolios .projectImgsSun {
  height: 50vh;
}
.mainContent .portfolio .portfolios .focusImg {
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .portfolio .portfolios .projectImgStitches {
  height: 30vh;
}
.mainContent .portfolio .portfolios .upperImages {
  height: 30vh;
}
.mainContent .portfolio .portfolios .halfWidthImg {
  width: 50%;
}
.mainContent .portfolio .portfolios .abonPharmaImg, .mainContent .portfolio .portfolios .shophieImg {
  height: 40vh;
}
.mainContent .portfolioDetail {
  position: relative;
}
.mainContent .portfolioDetail .detailWindow {
  position: fixed;
  top: 0;
  z-index: 20;
  background-image: url("../assets/blackStripedBackgroun.png");
}
.mainContent .portfolioDetail .detailWindow .projectText {
  padding: 30px;
  width: 60%;
  margin: 0 auto;
  height: 100vh;
  overflow-y: hidden;
}
.mainContent .portfolioDetail .detailWindow .projectText .flexRow {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.mainContent .portfolioDetail .detailWindow .projectText .flexRow img {
  width: 50px;
  text-align: right;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectMain {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid black;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectMain h3 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 2.8rem;
  margin: 10px 0;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectMain h3 span {
  color: white;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent h4 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 10px 0;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent h4 span {
  color: white;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent p {
  color: white;
  font-size: 0.9rem;
  line-height: 30px;
}
.mainContent .portfolioDetail .detailWindow .projectText:hover {
  overflow-y: scroll;
  scrollbar-color: #f123646e #00000036;
  border-radius: 5px;
  scrollbar-width: 5px;
  scrollbar-gutter: blue;
}
.mainContent .portfolioDetail .detailWindow .projectText::-webkit-scrollbar {
  width: 10px;
}
.mainContent .portfolioDetail .detailWindow .projectText::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #f123646e;
  border-radius: 5px;
}
.mainContent .portfolioDetail aside {
  width: 35%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.432);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body {
  background-image: url("../assets/blackStripedBackgroun.png");
  background-position: center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  min-height: 100vh;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gridRow {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.hide {
  display: none;
}

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}

.buttons {
  margin: 50px 0;
}
.buttons a, .buttons button {
  cursor: pointer;
  border-style: none;
  color: #f12365;
  background: white;
  padding: 10px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.buttons a:hover, .buttons a:focus, .buttons button:hover, .buttons button:focus {
  color: white;
  background: #f12365;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* width */