.modal {
  background: #161616e0;
  position: fixed;
  margin: 0 auto;
  z-index: 60;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal .modalCntr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal .imgFocused {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: #f12365;
}
.modal .imgFocused .fixedImgwidth {
  width: 60%;
  margin: 0 auto;
}
.modal .imgFocused .fixedImgwidth img {
  height: 70vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal .imgFocused i {
  width: 20%;
  margin: 0 auto;
  font-size: 3rem;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}
.modal .allImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal .allImages img {
  width: 150px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
  cursor: pointer;
}
.modal .allImages .spcl {
  border: 4px solid #f12365;
  -webkit-box-shadow: 0px 0px 20px #f12365;
          box-shadow: 0px 0px 20px #f12365;
}
.modal .clostBtn {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.modal .clostBtn i {
  color: white;
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sideWidthBig {
  width: 45%;
  -webkit-transition: 2s;
  transition: 2s;
}

.sideWidthSmll {
  width: 18%;
  -webkit-transition: 2s;
  transition: 2s;
}

.sideBar {
  -webkit-transition: 0.5;
  transition: 0.5;
  position: relative;
  z-index: 50;
}
.sideBar div {
  position: sticky;
  top: 0;
}
.sideBar div .biggerHeight {
  height: 70vh;
}
.sideBar div .smallerHeight {
  height: 40vh;
}
.sideBar div .profileImg {
  -webkit-transition: 0.5;
  transition: 0.5;
  background: #f12365;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.sideBar div .profileImg img {
  -o-object-fit: contain;
     object-fit: contain;
}
.sideBar div .sidebarFooter {
  height: 30vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background: rgba(0, 0, 0, 0.377);
}
.sideBar div .sidebarFooter .menuCntr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.sideBar div .sidebarFooter .menus {
  margin: 0 auto;
}
.sideBar div .sidebarFooter .menus li button {
  background: none;
  border: none;
  color: #c7c7c7;
  padding: 30px 0;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
}
.sideBar div .sidebarFooter .menus li button:hover, .sideBar div .sidebarFooter .menus li a:focus {
  color: #f12365;
}
.sideBar div .sidebarFooter .menus .active {
  color: #f12365;
  font-size: 2rem;
}
.sideBar div .sidebarFooter .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.6rem;
}
.sideBar div .sidebarFooter .socialLinks a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sideBar div .sidebarFooter .socialLinks a:hover, .sideBar div .sidebarFooter .socialLinks a:focus {
  color: #f12365;
}
.sideBar div .sidebarFooter p {
  font-size: 0.8rem;
  color: #f12365;
}
.sideBar div .sidebarFooter p a {
  color: white;
}
.sideBar div .sidebarFooter p a:hover {
  color: #f12365;
}

@media (max-width: 850px) {
  .sideBar div .sidebarFooter .socialLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sideBar div .sidebarFooter .socialLinks a {
    font-size: 1.3rem;
  }
  .sideBar div .sidebarFooter .socialLinks li {
    margin: 5px;
  }
}
.mainContent {
  width: 82%;
  min-height: 200vh;
  position: relative;
}
.mainContent .circleIcon {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: -5;
}
.mainContent header .heroText {
  min-height: 60vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 120px;
}
.mainContent header .heroText h2 {
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
}
.mainContent header .heroText h1 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 5rem;
  margin: 10px 0;
}
.mainContent header .heroText h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0;
}
.mainContent header div img {
  width: 50%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .about {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.mainContent .about p {
  font-size: 0.9rem;
  line-height: 30px;
}
.mainContent .about .aboutText {
  padding: 50px;
  width: 60%;
  margin-right: auto;
}
.mainContent .about .aboutText .aboutMain {
  width: 90%;
  margin: 0 auto;
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainContent .about .aboutText .aboutMain h2 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 4rem;
  margin: 10px 0;
}
.mainContent .about .aboutText .aboutMain h2 span {
  color: white;
}
.mainContent .about .aboutText .aboutMain p {
  font-size: 1.2rem;
  line-height: 40px;
}
.mainContent .about .aboutText .aboutSubContent {
  padding: 30px 0;
}
.mainContent .about .aboutText .aboutSubContent div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainContent .about .aboutText .aboutSubContent h3 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 2.1rem;
  margin: 10px 0;
}
.mainContent .about .aboutText .aboutSubContent h3 span {
  color: white;
}
.mainContent .about .aboutText .aboutSubContent p span {
  color: #cfcfcf;
}
.mainContent .about .aboutText .aboutSubContent p span img {
  width: 10px;
  text-align: center;
  margin: 0 10px;
}
.mainContent .about aside {
  width: 35%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.432);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 129vh;
}
.mainContent .about aside h3 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 3rem;
  margin: 10px 0;
}
.mainContent .about aside h3 span {
  color: white;
}
.mainContent .about aside h4 {
  color: #8b8b8b;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 10px 0;
}
.mainContent .about aside h4 span {
  color: #8b8b8b;
}
.mainContent .about aside i {
  font-size: 2.5rem;
  color: #f12365;
  margin: 5px;
  margin-left: 0px;
}
.mainContent .about aside img {
  width: 40px;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5px;
  margin-left: 0px;
}
.mainContent .about aside div {
  margin-left: 10px;
}
.mainContent .about aside .iconsArr {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .portfolio {
  color: white;
}
.mainContent .portfolio .portfolioTxt {
  padding: 30px;
  width: 100%;
  margin-left: 0 auto;
}
.mainContent .portfolio .portfolioTxt h2 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 4rem;
  margin: 10px 0;
}
.mainContent .portfolio .portfolioTxt h2 span {
  color: white;
}
.mainContent .portfolio .portfolios .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mainContent .portfolio .portfolios .projectCntr {
  cursor: default;
  position: relative;
}
.mainContent .portfolio .portfolios .projectCntr .mainStack {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mainContent .portfolio .portfolios .projectCntr .mainStack .flexRow {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainContent .portfolio .portfolios .projectCntr .mainStack .square {
  background: #f12365;
  padding: 20px 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainContent .portfolio .portfolios .projectCntr .mainStack .square img {
  width: 30px;
}
.mainContent .portfolio .portfolios .projectCntr .mainStack .triangleLeft {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 25px solid #f12365;
  margin-top: -20px;
}
.mainContent .portfolio .portfolios .projectCntr .mainStack .triangleRight {
  margin-top: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 25px solid #f12365;
}
.mainContent .portfolio .portfolios .projectCntr .mainStack i {
  font-size: 2rem;
  color: white;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop {
  background-image: linear-gradient(45deg, #992a4dda, #e483a2a9);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .content img {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  cursor: pointer;
  padding: 10px;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .content img:hover {
  background: rgba(255, 255, 255, 0.301);
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr {
  width: 100%;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr button {
  width: 50%;
  border: none;
  padding: 20px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #f12365;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr button:focus, .mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr button:hover {
  background-color: #f12365;
  color: white;
}
.mainContent .portfolio .portfolios .projectCntr .imgTop h3 {
  color: #ffffff;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 1.7rem;
  margin: 10px 0;
}
.mainContent .portfolio .portfolios .projectCntr .opacity {
  opacity: 0;
}
.mainContent .portfolio .portfolios .projectCntr:hover .opacity, .mainContent .portfolio .portfolios .projectCntr:focus .opacity {
  opacity: 1;
}
.mainContent .portfolio .portfolios .projectCntr:hover .mainStack {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.mainContent .portfolio .portfolios .imgSettings {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .portfolio .portfolios .projectImgsSun {
  height: 46vh;
}
.mainContent .portfolio .portfolios .focusImg {
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContent .portfolio .portfolios .projectImgStitches {
  height: 38vh;
}
.mainContent .portfolio .portfolios .upperImages {
  height: 34vh;
}
.mainContent .portfolio .portfolios .halfWidthImg {
  width: 50%;
}
.mainContent .portfolio .portfolios .shophieImg {
  height: 40vh;
}
.mainContent .portfolio .portfolios .movieManixImg {
  height: 54vh;
}
.mainContent .portfolio .portfolios .gameOfThrns {
  height: 30vh;
}
.mainContent .portfolioDetail {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainContent .portfolioDetail .detailWindow {
  position: fixed;
  top: 0;
  z-index: 20;
  background-image: url("../assets/blackStripedBackgrounLighter.jpg");
}
.mainContent .portfolioDetail .detailWindow .projectText {
  padding: 30px;
  width: 85%;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectTxtCntr {
  width: 80%;
  margin: 0 auto;
}
.mainContent .portfolioDetail .detailWindow .projectText .flexRow {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.mainContent .portfolioDetail .detailWindow .projectText .flexRow .closeProDetail {
  cursor: pointer;
  color: #b1a9a9;
  font-size: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
.mainContent .portfolioDetail .detailWindow .projectText .flexRow .closeProDetail:hover {
  color: #f12365;
}
.mainContent .portfolioDetail .detailWindow .projectText .flexRow img {
  width: 40px;
  text-align: right;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectMain {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid black;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectMain h3 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 2.8rem;
  margin: 10px 0;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectMain h3 span {
  color: white;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent {
  padding-top: 40px;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .projectLink {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 2.6rem;
  margin: 10px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .projectLink:hover {
  color: white;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent p {
  color: white;
  font-size: 1.1rem;
  line-height: 40px;
  margin: 20px auto;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .imageArray img {
  width: 100px;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .linksAndStacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .linksAndStacks h5 {
  color: white;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 10px 0;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .linksAndStacks .stackArray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .linksAndStacks .stackArray i {
  font-size: 1.7rem;
  color: #f12365;
  margin: 10px 10px;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .linksAndStacks .stackArray img {
  width: 30px;
  margin: 10px 10px;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .projectCollabImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .projectCollabImg p {
  margin: 0;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .projectCollabImg img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 10px;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .projectCollabImg .collabCntr {
  display: block;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .projectCollabImg .collabCntr .collabWindwo {
  min-width: 150px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  right: 70px;
  top: 0;
  border: 1px solid #f12365;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #f12365;
}
.mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .projectCollabImg .collabCntr:hover .collabWindwo, .mainContent .portfolioDetail .detailWindow .projectText .projectSubContent .flexRow .projectCollabImg .collabCntr:focus .collabWindwo {
  opacity: 1;
}
.mainContent .portfolioDetail .detailWindow .projectText:hover {
  overflow-y: auto;
  scrollbar-color: #f123646e #00000036;
  border-radius: 5px;
  scrollbar-width: 5px;
}
.mainContent .portfolioDetail .detailWindow .projectText::-webkit-scrollbar {
  width: 10px;
}
.mainContent .portfolioDetail .detailWindow .projectText::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #f123646e;
  border-radius: 5px;
}
.mainContent .portfolioDetail aside {
  width: 25%;
  margin: auto;
  background: rgba(0, 0, 0, 0.432);
  min-height: 100vh;
}
.mainContent .portfolioDetail aside h4 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 10px 0;
}
.mainContent .portfolioDetail aside .projectImgs2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.mainContent .portfolioDetail aside a {
  width: 100%;
}
.mainContent .portfolioDetail aside a img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border: 3px solid #f12365;
}
.mainContent .portfolioDetail aside a:hover img, .mainContent .portfolioDetail aside a:focus img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-box-shadow: 0px 0px 20px #f12365;
          box-shadow: 0px 0px 20px #f12365;
}
.mainContent .contacts {
  min-height: 100vh;
}
.mainContent .contacts .contactTxt {
  padding: 30px 100px;
  width: 80%;
  margin-left: 0 auto;
}
.mainContent .contacts .contactTxt h2 {
  color: #f12365;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 3rem;
  margin: 10px 0;
}
.mainContent .contacts .contactTxt h2 span {
  color: white;
}
.mainContent .contacts .contactTxt .contactMain {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainContent .contacts .contactTxt .contactMain h3 {
  color: white;
  font-family: "DM Serif Display", serif;
  text-transform: capitalize;
  font-size: 2.3rem;
  margin: 10px 0;
  margin: 20px 0;
}
.mainContent .contacts .contactTxt .contactMain h3 span {
  color: white;
}
.mainContent .contacts .contactTxt .contactMain form {
  width: 80%;
}
.mainContent .contacts .contactTxt .contactMain input[type=text], .mainContent .contacts .contactTxt .contactMain input[type=email], .mainContent .contacts .contactTxt .contactMain textarea {
  width: 100%;
  border: none;
  background: white;
  padding: 25px;
  margin: 10px auto;
  background: transparent;
  border: 2px solid #f12365;
  color: #f12365;
}
.mainContent .contacts .contactTxt .contactMain textarea {
  max-width: 100%;
  min-width: 100%;
}
.mainContent .contacts .contactTxt .contactMain input:focus, .mainContent .contacts .contactTxt .contactMain textarea:focus {
  border: 2px solid #ffdce7;
  outline: none;
}
.mainContent .contacts .contactTxt .contactMain textarea::-webkit-input-placeholder, .mainContent .contacts .contactTxt .contactMain input[type=text]::-webkit-input-placeholder, .mainContent .contacts .contactTxt .contactMain input[type=email]::-webkit-input-placeholder {
  font-style: italic;
}
.mainContent .contacts .contactTxt .contactMain textarea::-moz-placeholder, .mainContent .contacts .contactTxt .contactMain input[type=text]::-moz-placeholder, .mainContent .contacts .contactTxt .contactMain input[type=email]::-moz-placeholder {
  font-style: italic;
}
.mainContent .contacts .contactTxt .contactMain textarea:-ms-input-placeholder, .mainContent .contacts .contactTxt .contactMain input[type=text]:-ms-input-placeholder, .mainContent .contacts .contactTxt .contactMain input[type=email]:-ms-input-placeholder {
  font-style: italic;
}
.mainContent .contacts .contactTxt .contactMain textarea::-ms-input-placeholder, .mainContent .contacts .contactTxt .contactMain input[type=text]::-ms-input-placeholder, .mainContent .contacts .contactTxt .contactMain input[type=email]::-ms-input-placeholder {
  font-style: italic;
}
.mainContent .contacts .contactTxt .contactMain textarea::placeholder, .mainContent .contacts .contactTxt .contactMain input[type=text]::placeholder, .mainContent .contacts .contactTxt .contactMain input[type=email]::placeholder {
  font-style: italic;
}
.mainContent .contacts .contactTxt .contactMain button {
  width: 100%;
  background: #f12365;
  border: none;
  padding: 20px;
  margin: 10px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mainContent .contacts .contactTxt .contactMain button:hover, .mainContent .contacts .contactTxt .contactMain button:focus {
  background: white;
  color: #f12365;
}

@media (max-width: 1050px) {
  .mainContent .portfolio .portfolios .movieManixImg {
    height: 49vh;
  }
  .mainContent .portfolio .portfolios .gameOfThrns {
    height: 35vh;
  }
  .mainContent .portfolio .portfolios .projectCntr .imgTop h3 {
    color: #ffffff;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
    font-size: 1.4rem;
    margin: 10px 0;
  }
  .mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr button {
    width: 90%;
    margin: 5px auto;
    font-size: 0.9rem;
    padding: 12px;
  }
}
@media (max-width: 850px) {
  .mainContent header .heroText {
    padding-left: 60px;
    padding-top: 34px;
  }
  .mainContent .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContent .about .aboutText {
    width: 100%;
    padding: 30px;
  }
  .mainContent .about .aboutText .aboutMain h2 {
    color: #f12365;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
    font-size: 3.4rem;
    margin: 10px 0;
  }
  .mainContent .about .aboutText .aboutMain p {
    font-size: 1rem;
    line-height: 35px;
  }
  .mainContent .about aside {
    width: 100%;
    min-height: 56vh;
    position: relative;
    padding: 35px 50px;
  }
  .mainContent .about aside h3 {
    color: #f12365;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
    font-size: 2.6rem;
    margin: 10px 0;
  }
  .mainContent .about aside .iconsArr {
    padding: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .mainContent .about aside i {
    font-size: 2.1rem;
    margin-right: 15px;
  }
  .mainContent .about aside img {
    width: 35px;
    margin-right: 15px;
  }
  .mainContent .about aside .stackSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 13px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContent .portfolio .portfolioTxt {
    padding: 22px;
  }
  .mainContent .portfolio .portfolioTxt h2 {
    color: #f12365;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
    font-size: 3rem;
    margin: 10px 0;
  }
  .mainContent .portfolio .portfolios .gridItm3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .mainContent .portfolio .portfolios .movieManixImg {
    height: 30vh;
    width: 100%;
  }
  .mainContent .portfolio .portfolios .gameOfThrns {
    height: 30vh;
    width: 100%;
  }
  .mainContent .portfolio .portfolios .projectImgsSun {
    height: 28vh;
  }
  .mainContent .portfolio .portfolios .projectImgStitches {
    height: 34vh;
  }
  .mainContent .portfolio .portfolios .upperImages {
    height: 32vh;
  }
  .mainContent .portfolio .portfolios .focusImg {
    height: 30vh;
  }
  .mainContent .portfolio .portfolios .projectCntr .imgTop {
    padding: 8px;
  }
  .mainContent .portfolio .portfolios .projectCntr .imgTop .content img {
    width: 40px;
    height: 40px;
  }
  .mainContent .portfolio .portfolios .projectCntr .imgTop .content h3 {
    color: #ffffff;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContent .portfolio .portfolios .projectCntr .imgTop .btnCntr button {
    width: 90%;
    margin: 5px auto;
    font-size: 0.9rem;
    padding: 10px;
  }
  .mainContent .portfolioDetail .detailWindow .projectText .projectTxtCntr {
    width: 100%;
    margin: 0 auto;
  }
  .mainContent .portfolioDetail .detailWindow .projectText .projectMain h3 {
    color: #f12365;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
    font-size: 2.5rem;
    margin: 10px 0;
  }
  .mainContent .portfolioDetail .detailWindow .projectText .projectSubContent {
    padding-top: 20px;
  }
  .mainContent .contacts .contactTxt {
    padding: 15px 58px;
    width: 100%;
  }
  .mainContent .contacts .contactTxt .contactMain h3 {
    color: #ffffff;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
    font-size: 2rem;
    margin: 10px 0;
    margin: 16px 0;
  }
  .mainContent .contacts .contactTxt .contactMain form {
    width: 100%;
  }
}
html {
  background-image: url("../assets/blackStripedBackgroun.png");
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/blackStripedBackgroun.png");
  background-image: url("../assets/blackStripedBackgrounLighter.jpg");
  background-position: center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: -10;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  min-height: 100vh;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gridRow {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.hide {
  display: none;
}

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}

.buttons {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.buttons a, .buttons button {
  cursor: pointer;
  border-style: none;
  color: #f12365;
  background: white;
  padding: 10px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 10px;
}
.buttons a:hover, .buttons a:focus, .buttons button:hover, .buttons button:focus {
  color: white;
  background: #f12365;
}

.buttons2 {
  margin: 20px 0;
}
.buttons2 a, .buttons2 button {
  cursor: pointer;
  border-style: none;
  color: white;
  background: transparent;
  border: 2px solid #ffffff;
  padding: 10px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.buttons2 a:hover, .buttons2 a:focus, .buttons2 button:hover, .buttons2 button:focus {
  color: black;
  background: #f12365;
  border: 2px solid #f12365;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* width */
.cursorPntr {
  cursor: pointer;
}

.positionRelative {
  position: relative;
}

.hvrCntr {
  display: block;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
}
.hvrCntr .hvrWndo {
  display: none;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 60px;
  border: 1px solid #f12365;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #f12365;
  z-index: 20;
  min-height: 0;
  min-width: 0px;
  overflow: auto;
}

.menuBtn {
  position: fixed;
  padding: 20px;
  width: 80px;
  height: 80px;
  top: 20px;
  left: 20px;
  z-index: 200;
  cursor: pointer;
}
.menuBtn .hamBrgr {
  width: 35px;
  height: 3px;
  background: white;
  border-radius: 5px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.menuBtn .hamBrgr::before, .menuBtn .hamBrgr::after {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  background: #ffffff91;
  border-radius: 5px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.menuBtn .hamBrgr::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}
.menuBtn .hamBrgr::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.menuBtn:hover .hamBrgr {
  width: 40px;
}

.menuBtn:hover .hamBrgr::before {
  width: 20px;
}

.menuBtn:hover .hamBrgr::after {
  width: 45px;
}

.responsive {
  display: none;
  text-align: center;
}

.notResponsive {
  display: block;
  text-align: center;
}

@media (max-width: 900px) {
  .gridRow {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 850px) {
  .buttons {
    margin: 35px 0;
  }

  .gridRow {
    grid-template-columns: 1fr 1fr;
  }

  .hvrCntr:hover .hvrWndo, .hvrCntr:focus .hvrWndo {
    opacity: 1;
    min-height: 50px;
    min-width: 150px;
  }

  .responsive {
    display: block;
  }

  .notResponsive {
    display: none;
  }
}